<nav class="navbar">
  <div class="navbar-left">
    <div class="logo">
      <span>News</span><br />
      <span>Today</span>
    </div>
    <ul class="nav-links">
      <li>World <i class="fas fa-chevron-down"></i></li>
      <li>Sri Lanka <i class="fas fa-chevron-down"></i></li>
      <li>Technology <i class="fas fa-chevron-down"></i></li>
      <li>Entertainment <i class="fas fa-chevron-down"></i></li>
    </ul>
  </div>
  <div class="navbar-right">
    <button class="btn-red">Sign up</button>
    <button class="btn-light">Login</button>
  </div>
</nav>
